<h1>Deleted Student #<%= @student.id %></h1>

<p>
  You have removed the student with an ID of <%= @student.id %> from the database. :(
</p>

<li><a href='/students'>Back to list of students</a></li>
